
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Quackr</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
  <link rel="stylesheet" href="/stylesheets/main.css"/>
</head>
<body> 
  <nav class="navbar navbar-light bg-dark">
    <form class="form-inline">
      <button class="btn btn-primary mx-2" type="button">
        <a class="nav-link" href="/">Home</a>
        </button>
      <button class="btn btn-primary mx-2" type="button">
        <a class="nav-link" href="/cohorts">Cohorts</a>
      </button>
      <button class="btn btn-success mx-2" type="button">
        <a class="nav-link" href="/cohorts/new">New Cohort</a>
      </button>
    </form>
    <div>
  </nav>
  <div class="container">